footer.footer.pt-5.pb-2.bg-dark
  .container
    .row
      .col-12.col-md-4
        a(href='/')
          img.footer__logo(src='/images/logo.svg' alt='Course Finder logo')
        .social-foot
          a(href='/')
            i.fab.fa-facebook-f.social-foot__icon
          a(href='#')
            i.fab.fa-twitter.social-foot__icon
          a(href='')
            i.fab.fa-instagram.social-foot__icon
      .col-md-2 &nbsp;
      .col-12.col-md-3
        ul.footer-list.footer__list
          li.footer__li
            a.footer__link(href='/courses') Courses
            a.footer__link(href='#') Universities
            a.footer__link(href='#') Teachers
      .col-12.col-md-3
        ul.footer__list
          li.footer__li
            a.footer__link(href='/about') About
            a.footer__link(href='/events') Events
            a.footer__link(href='/contact') Contact
    .col-12
      p.footer__desc &copy;Course Finder, 2020. All rights reserved.

