footer.footer.pt-5.pb-2.bg-dark
  .container
    .row
      .col-12.col-md-4
        a(href='/')
          img.footer__logo(src='/images/logo.svg' alt='Course Finder logo')
        .social-foot
          a(href='/')
            i.fab.fa-facebook-f.social-foot__icon
          a(href='#')
            i.fab.fa-twitter.social-foot__icon
          a(href='')
            i.fab.fa-instagram.social-foot__icon
      .col-md-2 &nbsp;
      .col-12.col-md-3
        ul.footer-list.footer__list
          li.footer__li
            a.footer__link(href='/courses') Courses
      .col-12.col-md-3
        ul.footer__list
          li.footer__li
            a.footer__link(href='/contact') Contact
    .col-12
      p.footer__desc &copy;Course Finder, 2020. All rights reserved.

script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='/js/jquery.matchHeight.js' type='text/javascript')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
script(src='/js/script.js' type='text/javascript')