extends skeleton

block main
  .container.py-5
    .row
      .col-12
        .login
          h2.text-center.mb-4 Log in
          form.form#form
            .form-group
              label.form__label(for='email') Email address
              input#email.form-control(type='email', required)
            .form__group.ma-bt-md
              label.form__label(for='password') Password
              input#password.form-control(type='password', required, maxlength='25',minlength='8')
            .form__group
              button.custom__btn.login__btn Login
        
        .login__msg#login__msg  &nbsp;