/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
} */
/* general */
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.nav-logo-wrap {
  margin: 10px auto;
  padding-left: 56px;
}

.nav-logo {
  margin-bottom: 5px !important;
  width: 100px;
  display: block;
  padding-left: 20px;
}

.nav-list {
  text-align: center;
  padding: 15px 0 10px;
}

.nav-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

.nav-social i {
  color: gray;
  font-size: 1.5rem;
  padding: 10px;
}

.nav-social i:hover {
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  color: #fff !important;
  border-radius: 5px;
}

.nav-cta {
  display: none;
}

.nav-name {
  color: #F55536;
  display: block;
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
}

.conatiner-max {
  max-width: 95% !important;
  margin: 0 auto;
}

.custom-btn {
  background-color: inherit;
  padding: 10px;
  margin: 10px 0;
  display: block;
  padding: 8px !important;
  background-color: #F55536;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.custom-btn:hover,
.custom-btn:focus {
  border: none;
  background: rgb(180, 58, 119) !important;
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  box-shadow: none;
}

.custom-btn:active {
  background: rgb(180, 58, 119) !important;
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  border: none;
  box-shadow: none;
}

.title {
  text-align: center;
  text-transform: uppercase;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #232020;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 2rem;
  z-index: 10;
}

.title--h2 {
  font-size: 3rem;
}

.sub {
  margin-bottom: 2.5rem;
}

.sub-title {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  font-size: 2.5rem;
}


.sub-text {
  font-size: 1rem;
  max-width: 95%;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}

.sub-img {
  width: 50%;
  margin: 30px auto 0px;
  display: block;
}



.footer-logo {
  max-width: 50%;
  margin: 0 auto 30px;
  display: block;
}

.footer-social {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 60%;
  margin: 20px auto 30px;
}

.footer-social i {
  color: #fff;
}

.footer-list {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
  margin-bottom: 30px;
}

.footer-li {
  text-decoration: none;
  font-size: 1rem;
  line-height: 2;
}

.footer-link {
  color: #fff;
  padding: 10px;
}

.footer-link:hover {
  background-color: #F55536;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.footer-desc {
  color: #F55536;
  text-align: center;
  font-size: .9rem;
}

/* hero */
.hero {
  height: 60vh;
  width: 100%;
  background-image: url(../4b.jpg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.hero-without-img {
  background-image: none;
  height: auto;
}

.hero-top {
  position: absolute;
  width: 0;
  height: 0;
  left: -20%;
  border-top: 93vw solid rgba(245, 85, 54, .8);
  border-right: 109vw solid transparent;
  z-index: 2;
}

.hero-bottom {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  border-bottom: 72vw solid rgba(180, 58, 119, .6);
  border-right: 77vw solid transparent;
}

.hero-content {
  z-index: 50;
  left: 10%;
  right: 10%;
  top: 10%;
  position: absolute;
}

.hero-title {
  color: #fff;
  font-size: 4rem;
  text-shadow: 2px 2px rgb(0, 0, 0, .5);
  text-transform: uppercase;
}

.hero-line {
  color: white;
}

.hero-btn {
  width: 70%;
  margin-top: 40px;
}

/* intro */
.intro-hr {
  max-width: 80%;
  margin: 2rem auto;
}

.intro-img {
  display: block;
  margin: 0 auto 2rem;
  ;
  width: 80%;
}

.intro-quote {
  text-align: center;
  line-height: 1.5;
}

/* steps */
.steps {
  padding: 0;
}

.step {
  width: 100%;
}

.step--one {
  background-color: rgb(245, 85, 54);
}

.step--two {
  background-color: rgb(180, 58, 119);
  margin-top: -80px;
  padding-top: 4rem;
}

.step--three {
  margin-top: -80px;
  background-color: rgb(245, 85, 54);
  padding-top: 4rem;
}

.step-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 1rem;
}

#arrow {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

#arrow.arrow--one {
  border-top: 80px solid rgb(245, 85, 54);
  z-index: 1;
}

#arrow.arrow--two {
  border-top: 80px solid rgb(180, 58, 119);
  z-index: 1;
}

.step-icon-box {
  padding: 30px;
  background-color: #fff;
  height: 6rem;
  width: 6rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 50%;
  margin-bottom: 2rem;
  position: relative;
}

.step-icon {
  font-size: 2rem;
  color: #67697C;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.step-icon--play {
  margin-left: 5px;
}

.step-text {
  color: #fff;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* course card */
.card {
  z-index: 10;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-body {
  padding: 1rem .7rem;
}

.card-body:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card-title {
  font-size: 18px;
  line-height: 1.5;
}

.card-org {
  font-size: 14px;
  font-weight: bolder;
}

.card-text {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.card-text i {
  color: #2EC4B6;
  margin-right: 2px;
}

.card-btn-container {
  padding: 1rem 0;
}

.card-btn {
  max-width: 90%;
  margin: 0 auto;
}

.card-btn-main {
  max-width: 80%;
  display: block;
  margin: 40px auto;
  border: 2px solid rgb(245, 85, 54);
  background-color: #fff;
  color: rgb(245, 85, 54);
  font-weight: bolder;
  font-size: 1.2rem;
  padding: .6rem;
}

.card-btn-main:hover,
.card-btn-main:focus {
  background: rgb(180, 58, 119) !important;
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  box-shadow: none;
}

.card-btn-main:active {
  background: rgb(180, 58, 119) !important;
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  box-shadow: none;
}

.work {
  text-align: center;
}

.work-logo {
  display: block;
  max-width: 50%;
  margin: 1.5rem auto;
}

.why {
  text-align: center;
  margin: 0 auto 3.5rem;
  max-width: 80%;
}

.why-icon {
  font-size: 2.5rem;
  margin-bottom: .8rem;
  color: rgb(180, 58, 119);
  background-color: rgba(245, 85, 54, .9);
  border-radius: 50%;
  padding: 1px;
}

.why-icon-classic {
  font-size: 2.5rem;
  margin-bottom: .8rem;
  color:rgba(245, 85, 54, .9);
  border-radius: 0%;
}

.why-title {
  font-size: 1.4rem;
  /* font-family: 'Patrick Hand', cursive; */
  margin-bottom: 1.3rem;
}

.welcome-img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome-img {
  width: 100%;
}
.welcome-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular-btn {
  background-color: rgba(180, 58, 119, 1)
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  /* steps */
  .step-container {
    max-width: 100%;
  }

  .step-icon-box {
    height: 8rem;
    width: 8rem;
  }

  .step-icon {
    font-size: 2.5rem;
  }

  .step-text {
    font-size: 1.7rem;
  }

  .sub-img {
    width: 30%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .sub-title {
    font-size: 4.5rem;
  }

  .sub-title-small{
        font-size: 3rem;
  }

  .sub-text {
    font-size: 1.4rem;
    max-width: 80%;
  }

  .sub-text-small {
    max-width: 90%;
  }

  .sub-img {
    width: 20%;
  }

  /* footer */
  .footer-list {
    text-align: left;
    margin-top: 20px;
  }

  .footer-desc {
    margin-top: 20px;
  }

  /* hero */
  .hero-content {
    z-index: 50;
    left: 10%;
    right: 10%;
    top: 25%;
    position: absolute;
  }

  .hero-title {
    color: #fff;
    font-size: 5rem;
    text-shadow: 2px 2px rgb(0, 0, 0, .5);
    text-transform: uppercase;
  }

  .hero-line {
    color: white;
    font-size: 1.6rem;
  }

  .hero-btn {
    font-size: 1.3rem;
    padding: 12px !important;
    width: 50vw;
    margin-top: 50px;
  }

  /* intro */
  .intro-section {
    padding: 2rem 2rem;
    max-width: 90%;
    margin: 0 auto;
  }

  .intro-hr {
    display: none;
  }

  .intro-img {
    max-width: 70%;
  }

  .intro-quote {
    font-size: 1.2rem;
  }

  .work {
    margin: 0 auto;
  }

  .work-logo {
    display: inline-block;
    max-width: 30%;
    padding: 0 15px;
  }

  .why-text {
    max-width: 80%;
    margin: 0 auto;
  }

  .card-btn-main {
    max-width: 40%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* general */
  .title--h2 {
    font-size: 4.5rem;
  }

  .nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .nav-item {
    margin: 0 10px;
  }

  .nav-social i {
    font-size: 1rem;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
  }

  .nav-social {
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }

  .nav-cta {
    display: inline-block;
    color: #F55536;
    margin-right: 10px;
  }

  /* sub section */
  .sub {
    margin-bottom: 3rem;
  }

  .sub-title {
    text-align: center;
    font-size: 3rem;
  }

  .sub-text {
    font-size: 1.2rem;
    max-width: 60%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
  }

  /* intro */
  .intro-img {
    max-width: 50%;
  }

  .intro-quote {
    font-size: 1.3rem;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  /* steps */
  .step {
    width: 33.3333333333333333333333333%;
    height: 280px;
  }

  .step .col-lg-4 {
    max-width: 100%;
  }

  .step--two,
  .step--three {
    margin-top: 0;
    padding: 0;
  }

  .step-icon-box {
    height: 7rem;
    width: 7rem;
  }

  .step-text {
    font-size: 1.3rem;
  }

  #arrow {
    width: 0;
    height: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  #arrow.arrow--one {
    border-top: none;
  }

  #arrow.arrow--two {
    border-top: none;
  }

  #triangle-right {
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    height: 100%;
    border-top: 140px solid transparent;
    border-bottom: 140px solid transparent;
  }

  #triangle-right.triangle--two {
    border-left: 60px solid rgb(245, 85, 54);
  }

  #triangle-right.triangle--three {
    border-left: 60px solid rgb(180, 58, 119);
  }

  .work-logo {
    max-width: 20%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* general */
  .conatiner-max {
    max-width: 80% !important;
  }

  /* footer */
  .footer-logo {
    max-width: 40%;
    padding-left: 20px;
  }

  .footer-social {
    font-size: 1.3rem;
    max-width: 40%;
  }

  .footer-list {
    margin: 30px auto;
  }

  .footer-li {
    font-size: 1rem;
    line-height: 2;
  }

  /* sub section */
  .sub {
    margin-bottom: 4rem;
  }

  .sub-title {
    text-align: center;
    font-size: 3.5rem;
  }

  .sub-img {
    width: 20%;
  }

  /* hero */
  .hero-top {
    border-top: 70vw solid rgba(245, 85, 54, .8);
    border-right: 70vw solid transparent;
  }

  .hero-bottom {
    border-bottom: 40vw solid rgba(180, 58, 119, .6);
    border-right: 50vw solid transparent;
  }

  .hero-btn {
    font-size: 1.3rem;
    padding: 12px !important;
    width: 30vw;
    margin-top: 50px;
  }

  /* intro */
  .intro-section {
    padding: 1.5rem 1rem;
    max-width: 90%;
    margin: 0 auto;
  }

  .intro-img {
    max-width: 50%;
  }

  .intro-quote {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  /* course card */
  .card-btn {
    max-width: 60%;
    margin: 0 auto;
  }

  .work {
    max-width: 75%;
  }

  .work-logo {
    max-width: 20%;
    padding: 0 15px
  }
}