/*
colors
orange: rgba(245, 85, 54, 1);
purple: rgba(180, 58, 119,1);
white: rgba(255,255,255,1);
background-white: rgba(245,248,249,1);
background-gray: rgba(0, 0, 0, .03);
font: rgba(29, 33, 41,1);
font light: rgba(74, 77, 84,1);
*/
/*
fonts
headers: font-family: 'Raleway', sans-serif;
body: font-family: 'Roboto Slab', serif;
*/
/*
list
general
breadcrumbs
*/
/* general */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  color: rgb(29, 33, 41);
  background-color: rgba(245,248,249,1)!important;
}

.bg--gray {
  background-color: rgba(0, 0, 0, .08);
}

.conatiner--max {
  max-width: 95% !important;
  margin: 0 auto;
}

/* START buttons */
.custom__btn {
  padding: 10px;
  margin: 10px 0;
  display: block;
  padding: 8px !important;
  background-color: rgba(245, 85, 54, 1);
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.custom__btn--purple {
  background-color: rgba(180, 58, 119, 1)
}

.custom__btn:hover,
.custom__btn:focus {
  border: none;
  background: rgb(180, 58, 119) !important;
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  box-shadow: none;
}

.custom__btn:active {
  background: rgb(180, 58, 119) !important;
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  border: none;
  box-shadow: none;
}

/* END buttons */
/* START titles */
.title {
  text-align: center;
  text-transform: uppercase;
  -webkit-text-fill-color: rgba(255, 255, 255, 1);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #232020;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 2rem;
  z-index: 10;
}

.title--h2 {
  font-size: 3rem;
}

/* END titles */
/* START navigation: nav, logo, social media */
.nav__list {
  text-align: center;
  padding: 15px 0 10px;
}

.nav__link:hover {
  color: rgba(245, 85, 54, 1) !important;
}

/* logo */
.logo {
  margin: 10px auto;
  padding-left: 56px;
}

.logo__icon {
  margin-bottom: 5px !important;
  width: 100px;
  display: block;
  padding-left: 20px;
}

.logo__name {
  color: rgba(245, 85, 54, 1);
  display: block;
  font-weight: bolder;
  font-size: 1.1rem;
  text-align: center;
}

/* social media icons */
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 15px;
}

.social__cta {
  display: none;
}

.social__icon {
  color: rgba(74, 77, 84, 1);
  font-size: 1.5rem;
  padding: 10px;
}

.social__icon:hover {
  color: rgba(245, 85, 54, 1);
}

/* END navigation: nav, logo, social media */
/* START footer */
.footer__logo {
  max-width: 50%;
  margin: 0 auto 30px;
  display: block;
}

.footer__list {
  list-style-type: none;
  text-align: center;
  padding-left: 0px;
  margin-bottom: 30px;
}

.footer__li {
  text-decoration: none;
  font-size: 1rem;
  line-height: 2;
}

.footer__link {
  color: #fff;
  padding: 10px;
}

.footer__link:hover {
  color: rgba(245, 85, 54, 1);
  text-decoration: none;
  padding: 10px;
}

.footer__desc {
  color: rgba(245, 85, 54, 1);
  text-align: center;
  font-size: .9rem;
}

.social-foot {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  max-width: 60%;
  margin: 20px auto 30px;
}

.social-foot__icon {
  color: rgba(255, 255, 255, 1);
  padding: 10px;
}

.social-foot__icon:hover {
  color: rgba(245, 85, 54, 1);
}

/* END footer */
/* START hero */
.hero {
  height: 60vh;
  width: 100%;
  background-image: url(../images/4b.jpg);
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.hero--without-img {
  background-image: none;
  height: auto;
}

.hero__top {
  position: absolute;
  width: 0;
  height: 0;
  left: -20%;
  border-top: 93vw solid rgba(245, 85, 54, .8);
  border-right: 109vw solid transparent;
  z-index: 2;
}

.hero__bottom {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: 0;
  border-bottom: 72vw solid rgba(180, 58, 119, .6);
  border-right: 77vw solid transparent;
}

.hero__content {
  z-index: 50;
  left: 10%;
  right: 10%;
  top: 10%;
  position: absolute;
}

.hero__title {
  color: rgba(255, 255, 255, 1);
  font-size: 4rem;
  text-shadow: 2px 2px rgb(0, 0, 0, .5);
  text-transform: uppercase;
}

.hero__line {
  color: rgba(255, 255, 255, 1);
}

.hero__btn {
  width: 70%;
  margin-top: 40px;
}

/* END hero */
/* START breadcrumbs */
.breadcrumbs__container {
  z-index: 999999 !important;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: flex-start;
}

.breadcrumbs__list {
  list-style-type: none;
  display: inline;
  font-size: .9rem;
  z-index: 12;
  position: relative;
}

.breadcrumbs__list:first-of-type:after {
  content: "/";
  margin: 0px 5px 0px 3px;
}

.breadcrumbs__list:first-of-type .breadcrumbs__link:hover {
  color: rgba(245, 85, 54, 1);
  text-decoration: none;
}

.breadcrumbs__link {
  color: rgb(29, 33, 41);
}

/* END breadcrumbs */
/* START course card */
.card {
  z-index: 10;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card__body {
  padding: 1rem .7rem;
}

.card__body:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.card__title {
  font-size: 18px;
  line-height: 1.5;
}

.card__text {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.card__icon {
  color: #2EC4B6;
  margin-right: 2px;
}

.card__wrap-btn {
  padding: 1rem 0;
}

.card__btn {
  max-width: 90%;
  margin: 0 auto;
}

.card__btn-main {
  max-width: 80%;
  display: block;
  margin: 40px auto;
  border: 2px solid rgba(245, 85, 54, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(245, 85, 54, 1);
  font-weight: bolder;
  font-size: 1.2rem;
  padding: .6rem;
}

.card__btn-main:hover,
.card__btn-main:focus {
  background: rgb(180, 58, 119) !important;
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  box-shadow: none;
  border: 2px solid rgb(245, 85, 54, .5);
}

.card__btn-main:active {
  background: rgb(180, 58, 119) !important;
  background: linear-gradient(90deg, rgba(180, 58, 119, 1) 0%, rgba(245, 85, 54, 1) 50%, rgba(252, 176, 69, 1) 100%) !important;
  box-shadow: none;
  border: 2px solid rgba(245, 85, 54, .5);
}

/* START course card */
/* START steps */
.steps {
  padding: 0;
}

.steps__block {
  width: 100%;
}

.steps__block--one {
  background-color: rgb(245, 85, 54);
}

.steps__block--two {
  background-color: rgb(180, 58, 119);
  margin-top: -80px;
  padding-top: 4rem;
}

.steps__block--three {
  margin-top: -80px;
  background-color: rgb(245, 85, 54);
  padding-top: 4rem;
}

.steps__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 1rem;
}

.steps__arrow {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

.steps__arrow--one {
  border-top: 80px solid rgb(245, 85, 54);
  z-index: 1;
}

.steps__arrow--two {
  border-top: 80px solid rgb(180, 58, 119);
  z-index: 1;
}

.steps__wrap-icon {
  padding: 30px;
  background-color: rgba(255, 255, 255, 1);
  height: 6rem;
  width: 6rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 50%;
  margin-bottom: 2rem;
  position: relative;
}

.steps__icon {
  font-size: 2rem;
  color: #67697C;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.steps__icon--play {
  margin-left: 5px;
}

.steps__text {
  color: rgba(255, 255, 255, 1);
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* END steps */
/* START introducttion course */
.introduction {
  z-index: 12;
  position: relative;
}

.introduction__title {
  font-family: 'Roboto Slab', serif;
}

.introduction__text {
  font-size: 1.1rem;
}

.introduction__wrap-img {
  padding: 1rem;
  border-radius: 5px;
  box-shadow:
    -2px -2px 10px 0 rgba(255, 255, 255, 1),
    10px 10px 10px 0 rgba(0, 0, 0, .3);
}

.introduction__img {
  border-radius: 5px;
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

/* END  introducttion course */
/* START  digest course */
.digest {
  padding: 1rem;
  border-radius: 5px;
}

.digest__title {
  text-align: center;
  font-size: 2rem;
  color: rgba(180, 58, 119, 1);
  margin: 10px auto 30px;
}

.digest__element {
  color: rgba(74, 77, 84, 1);
  margin-right: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.digest__icon {
  color: rgba(180, 58, 119, 1);
  margin-right: 8px;
  font-size: .9rem;
}

.digest__information {
  color: rgba(74, 77, 84, 1);
  font-weight: 600;
  margin-left: 5px;
}

/* END  digest course */
/* START  menu course */
.menu {
  margin: 0 auto;
  border-radius: 5px;
  box-shadow:
    -12px -12px 12px 0 rgba(245, 248, 249, 1),
    10px 10px 10px 0 rgba(0, 0, 0, .3);
}

.menu__list {
  list-style-type: none;
  display: inline;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__element {
  padding: 1.2rem;
  display: inline-block;
  font-size: 1.3rem;
}

.menu__link {
  color: rgba(74, 77, 84, 1);
}

.menu__link:hover {
  color: rgba(180, 58, 119, 1);
  text-decoration: none;
}

.menu__link--active {
  color: rgba(180, 58, 119, 1);
  font-weight: bolder;
  text-decoration: underline;
}

/* END  menu course */
/* START  course description */
/* .description {
  background-color: rgba(245, 248, 249, 1);
} */

.description__title {
  margin-bottom: 30px;
  font-family: 'Roboto Slab', serif;
}

.description__wrap-img {
  padding: 1rem;
  border-radius: 5px;
  box-shadow:
    -12px -12px 10px 0 rgba(255, 255, 255, 1),
    10px 10px 10px 0 rgba(0, 0, 0, .3);
}

.description__img {
  border-radius: 5px;
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

/* END  course description */
/* START category */
.category {
  font-size: 1rem;
  display: inline-block;
  padding: 8px 12px;
  width: 150px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: rgba(245, 85, 54, 1);
  box-shadow:
    -12px -12px 10px 0 rgba(255, 255, 255, 1),
    10px 10px 10px 0 rgba(0, 0, 0, .3);
}

/* END  category */
/* START topics */
.topics__title {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 30px;
}

.topics__element {
  margin-bottom: 10px;
}

/* END topics */
/* START details */
.details__title {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 30px;
}

/* END details */
/* START booking */
.booking__title {
  font-family: 'Roboto Slab', serif;
  margin-bottom: 30px;
}

/* END booking */
/* START why */
.why {
  text-align: center;
  margin: 0 auto 3.5rem;
  max-width: 80%;
  border-radius: 5px;
  box-shadow:
    -2px -2px 10px 0 rgba(255, 255, 255, 1),
    10px 10px 10px 0 rgba(0, 0, 0, .3);
  padding: 1rem;
}

.why__icon {
  font-size: 2.5rem;
  margin-bottom: .8rem;
  color: rgb(180, 58, 119);
  background-color: rgba(245, 85, 54, .9);
  border-radius: 50%;
  padding: 1px;
}

.why__icon--classic {
  font-size: 2.5rem;
  margin-bottom: .8rem;
  color: rgba(245, 85, 54, .9);
  border-radius: 0%;
}

.why__title {
  font-size: 1.4rem;
  margin-bottom: 1.3rem;
}

.why__link {
  color: rgba(74, 77, 84, 1);
}

.why__link:hover {
  color: rgba(245, 85, 54, 1);
  text-decoration: none;
}

/* END why */
/* START sub */
.sub {
  margin-bottom: 2.5rem;
}

.sub__title {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 2.5rem;
}

.sub__text {
  font-size: 1rem;
  max-width: 95%;
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
}

.sub__img {
  width: 50%;
  margin: 30px auto 0px;
  display: block;
}

/* END sub */
/* START inspiration */
.inspiration__hr {
  max-width: 80%;
  margin: 2rem auto;
}

.inspiration__img {
  display: block;
  margin: 0 auto 2rem;
  width: 80%;
}

.inspiration__quote {
  text-align: center;
  line-height: 1.5;
}

/* END inspiration */
/* START work */
.work {
  text-align: center;
}

.work__logo {
  display: block;
  max-width: 50%;
  margin: 1.5rem auto;
}

/* END work */
/* START welcome */
.welcome__img-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow:
    -2px -2px 10px 0 rgba(255, 255, 255, 1),
    10px 10px 10px 0 rgba(0, 0, 0, .3);
}

.welcome__img {
  width: 100%;
  border-radius: 5px;
  max-width: 90%;
  margin: 0 auto;
  display: block;
}

.welcome__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome__social {
  padding: 20px;
  color: rgba(245, 85, 54, 1);
  font-size: 1.2rem;
}

.welcome__social:hover {
  text-decoration: none;
  color: rgba(180, 58, 119, 1);
}

/* END welcome */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  /* START stepss */
  .steps__container {
    max-width: 100%;
  }

  .steps__wrap-icon {
    height: 8rem;
    width: 8rem;
  }

  .steps__icon {
    font-size: 2.5rem;
  }

  .steps__text {
    font-size: 1.7rem;
  }

  /* END steps */
  /* START sub */
  .sub__img {
    width: 30%;
  }

  /* END sub */
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

  /* START footer */
  .footer__list {
    text-align: left;
    margin-top: 20px;
  }

  .footer__desc {
    margin-top: 20px;
  }

  /* END footer */
  /*START hero */
  .hero__content {
    z-index: 50;
    left: 10%;
    right: 10%;
    top: 25%;
    position: absolute;
  }

  .hero__title {
    color: rgba(255, 255, 255, 1);
    font-size: 5rem;
    text-shadow: 2px 2px rgb(0, 0, 0, .5);
    text-transform: uppercase;
  }

  .hero__line {
    color: rgba(255, 255, 255, 1);
    font-size: 1.6rem;
  }

  .hero__btn {
    font-size: 1.3rem;
    padding: 12px !important;
    width: 50vw;
    margin-top: 50px;
  }

  /*END hero */
  /* START course card */
  .card__btn-main {
    max-width: 40%;
  }

  /* END course card */
  /* START  menu course */
  .menu__list {
    text-align: center;
    display: block;
    margin-bottom: 0px;
  }

  /* END  menu course */
  /* START why */
  .why__text {
    max-width: 80%;
    margin: 0 auto;
  }

  /* END why */
  /* START sub */
  .sub__title {
    font-size: 4.5rem;
  }

  .sub__title--small {
    font-size: 3rem;
  }

  .sub__text {
    font-size: 1.4rem;
    max-width: 80%;
  }

  .sub__text--small {
    max-width: 90%;
  }

  .sub__img {
    width: 20%;
  }

  /* END sub */
  /* START inspiration */
  .inspiration__content {
    padding: 2rem 2rem;
    max-width: 90%;
    margin: 0 auto;
  }

  .inspiration__hr {
    display: none;
  }

  .inspiration__img {
    max-width: 70%;
  }

  .inspiration__quote {
    font-size: 1.2rem;
  }

  /* END inspiration */
  /* START work */
  .work {
    margin: 0 auto;
  }

  .work__logo {
    display: inline-block;
    max-width: 30%;
    padding: 0 15px;
  }

  /* END work */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  /* general */
  /* START titles */
  .title--h2 {
    font-size: 4.5rem;
  }

  /* END titles */
  /* START navigation: nav, logo, social media */
  .nav__menu {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
  }

  .nav__item {
    margin: 0 10px;
  }

  .social {
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }

  .social__cta {
    display: inline-block;
    color:  rgba(245, 85, 54, 1);
    margin-right: 10px;
  }

  .social__icon {
    font-size: 1rem;
  }

  /* END navigation: nav, logo, social media */
  /*START steps */
  .steps__block {
    width: 33.3333333333333333333333333%;
    height: 280px;
  }

  .steps__block .col-lg-4 {
    max-width: 100%;
  }

  .steps__block--two,
  .steps__block--three {
    margin-top: 0;
    padding: 0;
  }

  .steps__wrap-icon {
    height: 7rem;
    width: 7rem;
  }

  .steps__text {
    font-size: 1.3rem;
  }

  .steps__arrow {
    width: 0;
    height: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }

  .steps__arrow--one {
    border-top: none;
  }

  .steps__arrow--two {
    border-top: none;
  }

  .steps__triangle {
    position: absolute;
    left: 0;
    width: 0;
    top: 0;
    height: 100%;
    border-top: 140px solid transparent;
    border-bottom: 140px solid transparent;
  }

  .steps__triangle--two {
    border-left: 60px solid rgb(245, 85, 54);
  }

  .steps__triangle--three {
    border-left: 60px solid rgb(180, 58, 119);
  }

  /*END steps */
  /* START  course description */
  .description__content {
    max-width: 80%;
    margin: 0 auto;
  }

  /* END  course description */
  /* START topics */
  .topics__content {
    max-width: 80%;
    margin: 0 auto;
  }

  /* END topics */
  /* START details */
  .details__content {
    max-width: 80%;
    margin: 0 auto;
  }

  /* END details */
  /* START booking */
  .booking__content {
    max-width: 80%;
    margin: 0 auto;
  }

  /* END booking */
  /* START sub */
  .sub {
    margin-bottom: 3rem;
  }

  .sub__title {
    text-align: center;
    font-size: 3rem;
  }

  .sub__text {
    font-size: 1.2rem;
    max-width: 60%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
  }

  /* END sub */
  /* START inspiration */
  .inspiration__img {
    max-width: 50%;
  }

  .inspiration__quote {
    font-size: 1.3rem;
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
  }

  /* END inspiration */
  /* START work */
  .work__logo {
    max-width: 20%;
  }

  /* END work */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  /* general */
  .conatiner--max {
    max-width: 80% !important;
  }

  /* START footer */
  .footer__logo {
    max-width: 40%;
    padding-left: 20px;
  }

  .footer__list {
    margin: 30px auto;
  }

  .footer__li {
    font-size: 1rem;
    line-height: 2;
  }

  .social-foot {
    font-size: 1.3rem;
    max-width: 40%;
  }

  /* END footer */
  /* START hero */
  .hero__top {
    border-top: 70vw solid rgba(245, 85, 54, .8);
    border-right: 70vw solid transparent;
  }

  .hero__bottom {
    border-bottom: 40vw solid rgba(180, 58, 119, .6);
    border-right: 50vw solid transparent;
  }

  .hero__btn {
    font-size: 1.3rem;
    padding: 12px !important;
    width: 30vw;
    margin-top: 50px;
  }

  /* END hero */
  /* START course card */
  .card__btn {
    max-width: 60%;
    margin: 0 auto;
  }

  /* END course card */
  /* START  course description */
  .description__content {
    max-width: 80%;
    margin: 0 auto;
  }

  .description__text {
    margin-left: 40px;
  }

  .description__wrap-img {
    max-width: 80%;
    margin: 0 auto;
  }

  .description__img {
    padding: 1.5rem;
  }

  /* END course description */
  /* START topics */
  .topics__content {
    max-width: 80%;
    margin: 0 auto;
  }

  /* END topics */
  /* START details */
  .details__content {
    max-width: 80%;
    margin: 0 auto;
  }

  /* END details */
  /* START booking */
  .booking__content {
    max-width: 80%;
    margin: 0 auto;
  }

  /* END booking */
  /* START sub */
  .sub {
    margin-bottom: 4rem;
  }

  .sub__title {
    text-align: center;
    font-size: 3.5rem;
  }

  .sub__img {
    width: 10%;
  }

  /* END sub */
  /* START inspiration */
  .inspiration__content {
    padding: 1.5rem 1rem;
    max-width: 90%;
    margin: 0 auto;
  }

  .inspiration__img {
    max-width: 50%;
  }

  .inspiration__quote {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  /* END inspiration */
  /* START work */
  .work {
    max-width: 75%;
  }

  .work__logo {
    max-width: 20%;
    padding: 0 15px
  }

  /* END work */
}